<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="login.css">
</head>
<body>

	<div id="login-box" style="background-image: url(https://previews.123rf.com/images/chalabala/chalabala1712/chalabala171200027/91700652-lunch-in-the-middle-of-the-jungle-the-table-full-of-foods-and-fruits-traditioal-pad-thai-spring-roll.jpg); background-size: cover;">
	  <div class="left">
	  	<br>
	    <h1>LogIn</h1>
	    <br>
	    <input type="text" name="username" placeholder="Username" />
	    <input type="password" name="password" placeholder="Password" />
	    
	    <input type="submit" name="signup_submit" value="Login" />
	  </div>

	</div>

</body>
</html>