<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="sign up.css">
</head>
<body>

	<div id="login-box" style="background-image: url(https://previews.123rf.com/images/chalabala/chalabala1712/chalabala171200027/91700652-lunch-in-the-middle-of-the-jungle-the-table-full-of-foods-and-fruits-traditioal-pad-thai-spring-roll.jpg); background-size: cover;">
  <div class="left">
    <h1>Sign up</h1>
    
    <input type="text" name="username" placeholder="Username" />
    <input type="text" name="email" placeholder="E-mail" />
    <input type="password" name="password" placeholder="Password" />
    <input type="password" name="password2" placeholder="Retype password" />
    
    <input type="submit" name="signup_submit" value="Sign me up" />
  </div>
  
  <div class="right">
  	<br><br><br><br>           
    <button class="social-signin facebook">Log in with facebook</button>
    <button class="social-signin google">Log in with Google+</button>
    <span class="loginwith">Sign in with<br />social network</span>
  </div>
  <div class="or">OR</div>
</div>

</body>
</html>